---
const {
  title,
  description,
  buttonTitle,
  optionalText,
  optionalPath,
  path,
  alternative,
} = Astro.props;
import Button from "./Button.astro";
import "../styles/custom.css";
---

{
  alternative ? (
    <a
      href={path}
      class="flex flex-col justify-between dark:!bg-[#2B3239] !bg-[var(--clr-neutral-1)] p-[20px] xs:p-[20px] md:p-[30px] xl:p-[40px] rounded-[10px] mt-0 alternative-box transition-shadow no-underline text-inherit overflow-hidden"
    >
      <h3
        class="font-roboto dark:!text-[var(--clr-neutral-1)] !text-[var(--clr-accent-4)] 
            !text-[20px] sm:!text-[22px] md:!text-[23.5px] lg:!text-[25px] xl:!text-[25px]
      font-bold mb-2"
      >
        {title}
      </h3>
      <p class="font-roboto dark:!text-[var(--clr-neutral-9)] !text-[var(--clr-neutral-14)] !text-[14.75px] sm:!text-[15.25px] md:!text-[15.75px] xl:!text-[16px] pr-0 md:pr-10 !mt-[30px] !mb-[30px] alternative-box">
        {description}
      </p>
      <div class="!mt-0 flex items-center">
        <span class="w-max !text-[16px] dark:!bg-[var(--clr-accent-1)] !bg-[var(--clr-accent-2)] !border-[var(--clr-accent-2)] !text-[var(--clr-neutral-1)] dark:!text-[var(--clr-neutral-14)]  bg-none cursor-pointer rounded px-[15px] py-[11px] text-base font-bold inline-block m-0 no-underline leading-none border border-solid border-transparent transition-all duration-200 ease-in-out hover:!bg-[var(--clr-accent-3)] hover:!border-[var(--clr-accent-3)] hover:text-white">
          {buttonTitle}
        </span>
      </div>
    </a>
  ) : (
    <div class="flex flex-col justify-between dark:bg-[#2B3239] bg-[var(--clr-neutral-1)] p-[20px] xs:p-[20px] md:p-[30px] xl:p-[40px] rounded-[10px] !mt-0 overflow-hidden">
      <h2
        class="font-roboto dark:!text-[var(--clr-neutral-1)] !text-[var(--clr-accent-4)]
      !text-[22px] sm:!text-[28px] md:!text-[28px] lg:!text-[28px] xl:!text-[31px] font-bold"
      >
        {title}
      </h2>
      <p class="dark:!text-[var(--clr-neutral-9)] !text-[var(--clr-neutral-14)] !text-[14.75px] sm:!text-[15.25px] md:!text-[15.75px] xl:!text-[16px] pr-0 md:pr-10 !mt-[30px] !mb-[30px]">
        {description}
      </p>
      <div class="!mt-0 flex items-center">
        <Button variant="primary" path={path}>
          {buttonTitle}
        </Button>
        {optionalText && optionalPath && (
          <div class="ml-4 !mt-0">
            <Button path={optionalPath}>
              {optionalText}
              <slot />
            </Button>
          </div>
        )}
      </div>
    </div>
  )
}
<style>
  .alternative-box:hover {
    box-shadow: 16px 20px 40px 0px rgba(0, 0, 0, 0.08);
  }
</style>
